{{- /*gotype: github.com/Snowflake-Labs/terraform-provider-snowflake/pkg/sdk/poc/generator.Field*/ -}}

type {{ .DtoDecl }} struct {
{{- range .Fields }}
    {{- if .ShouldBeInDto }}
        {{ .Name }} {{ .DtoKind }} {{ if .Required }}// required{{ end }}
    {{- end }}
{{- end }}
}

