{{- /*gotype: github.com/Snowflake-Labs/terraform-provider-snowflake/pkg/sdk/poc/generator.Interface*/ -}}

//go:generate go run ./dto-builder-generator/main.go

var (
{{- range .Operations }}
    {{- if .OptsField }}
        _ optionsProvider[{{ .OptsField.KindNoPtr }}] = new({{ .OptsField.DtoDecl }})
    {{- end }}
{{- end }}
)
