{{- /*gotype: github.com/Snowflake-Labs/terraform-provider-snowflake/pkg/sdk/poc/generator.HelperMethod*/ -}}

func (v *{{ .StructName }}) {{ .Name }}() {{ .ReturnType }} {
    return {{ .ReturnValue }}
}

