{{- /*gotype: github.com/Snowflake-Labs/terraform-provider-snowflake/pkg/sdk/poc/generator.Interface*/ -}}

import (
    "context"

    "github.com/Snowflake-Labs/terraform-provider-snowflake/pkg/sdk/internal/collections"
)

{{ $impl := .NameLowerCased }}
var _ {{ .Name }} = (*{{ $impl }})(nil)

type {{ $impl }} struct {
client *Client
}

{{ template "implementationFunctions" . }}

{{ template "implementationMappings" . }}
