{{- /*gotype: github.com/Snowflake-Labs/terraform-provider-snowflake/pkg/sdk/poc/generator.ShowObjectMethod*/ -}}

func (v *{{ .StructName }}) ObjectType() ObjectType {
    return ObjectType{{ .StructName }}
}

