{{- /*gotype: github.com/Snowflake-Labs/terraform-provider-snowflake/pkg/sdk/poc/generator.Interface*/ -}}

var (
{{- range .Operations }}
    {{- if .OptsField }}
        _ validatable = new({{ .OptsField.KindNoPtr }})
    {{- end }}
{{- end }}
)

{{ range .Operations }}
    {{- if .OptsField }}
        func (opts *{{ .OptsField.KindNoPtr }}) validate() error {
            if opts == nil {
                return ErrNilOptions
            }
            var errs []error
            {{- template "validationImplementation" .OptsField }}
            return JoinErrors(errs...)
        }
    {{- end }}
{{ end }}
