{{- /*gotype: github.com/Snowflake-Labs/terraform-provider-snowflake/pkg/sdk/poc/generator.Mapping*/ -}}

func (r {{ .From.Name }}) {{ .MappingFuncName }}() *{{ .To.KindNoPtr }} {
    // TODO: Mapping
    return &{{ .To.KindNoPtr }}{}
}
