{{- /*gotype: github.com/Snowflake-Labs/terraform-provider-snowflake/pkg/sdk/poc/generator.Interface*/ -}}

{{ range .Operations }}
    {{- if .OptsField }}
        func (r *{{ .OptsField.DtoDecl }}) toOpts() *{{ .OptsField.KindNoPtr }} {
            opts := &{{ template "toOptsMapping" .OptsField -}}
            return opts
        }

        {{ if .ShowMapping }}
            {{ template "convert" .ShowMapping }}
        {{ end }}

        {{ if .DescribeMapping }}
            {{ template "convert" .DescribeMapping }}
        {{ end }}
    {{- end}}
{{ end }}
