{{- /*gotype: github.com/Snowflake-Labs/terraform-provider-snowflake/pkg/sdk/poc/generator.Field*/ -}}

{{ .KindNoPtr }}{
{{- range .Fields }}
    {{- if .ShouldBeInDto }}
        {{ if .IsStruct }}{{ else }}{{ .Name }}: r{{ .Path }},{{ end -}}
    {{- end -}}
{{- end }}
}
{{- range .Fields }}
    {{- if .ShouldBeInDto }}
        {{- if .IsStruct }}
            {{- if or .IsPointer .IsSlice }}
                if r{{ .Path }} != nil {
            {{- end -}}

            {{- if not .IsSlice -}}
                opts{{ .Path }} = {{ if .IsPointer }}&{{end}}{{ template "toOptsMapping" . -}}{{/* Recursive call */}}
            {{- else -}}
                s := make({{ .Kind }}, len(r{{ .Path }}))
                for i, v := range r{{ .Path }} {
                    s[i] = {{ .KindNoSlice }}{
                        {{- range .Fields }}
                            {{ .Name }}: v.{{ .Name }},
                        {{- end }}
                    }
                }
                opts{{ .Path }} = s
            {{- end -}}

            {{- if or .IsPointer .IsSlice -}}
                }
            {{- end -}}
        {{- end -}}
    {{- end }}
{{- end }}
