{{- /*gotype: github.com/Snowflake-Labs/terraform-provider-snowflake/pkg/sdk/poc/generator.Field*/ -}}

{{ $field := . }}
{{- range .Validations }}
    t.Run("{{ .TodoComment $field }}", func(t *testing.T) {
        opts := defaultOpts()
        // TODO: fill me
        assertOptsInvalidJoinedErrors(t, opts, {{ .ReturnedError $field }})
    })
{{ end -}}
